{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <!-- <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div> -->

    Username: {{ account['username'] }}
    <br>
    Password: {{ account['password'] }}
    <br>
    Email: {{ account['email'] }}
    <br>
    <br>
    Ticket history:
    <br>
    <table>
        <tr>
            <th>Movie</th>
            <th>Date</th>
            <th>Type</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Seats Booked</th>
        </tr>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket['movei_name'] }}</td>
            <td>{{ ticket['ticket_date'] }}</td>
            <td>{{ ticket['ticket_type'] }}</td>
            <td>{{ ticket['start_time'] }}</td>
            <td>{{ ticket['end_time'] }}</td>
            <td>{{ ticket['seats'] }}</td>
        </tr>
        {% endfor %}
    </table>


    your review:
    <br>
    <table>
        <tr>
            <th>Type</th>
            <th>review</th>
        </tr>
        {% for review in reviews %}
        <tr>
            <td>{{ review['review_type'] }}</td>
            <td>{{ review['message'] }}</td>
        </tr>
        {% endfor %}
    </table>

    {% endblock %}