{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>

    Username: {{ account['username'] }}
    <br>
    Password: {{ account['password'] }}
    <br>
    Email: {{ account['email'] }}
    <br>
    <br>
    <h3>Ticket History:</h3>
    <br>
    <table>
        <tr>
            <th style="padding:0 15px 0 15px;">Movie</th>
            <th style="padding:0 15px 0 15px;">Date</th>
            <th style="padding:0 15px 0 15px;">Type</th>
            <th style="padding:0 15px 0 15px;">Start Time</th>
            <th style="padding:0 15px 0 15px;">End Time</th>
            <th style="padding:0 15px 0 15px;">Seats Booked</th>
        </tr>
        {% for ticket in tickets %}
        <tr>
            <td style="padding:0 15px 0 15px;">{{ ticket['movei_name'] }}</td>
            <td style="padding:0 15px 0 15px;">{{ ticket['ticket_date'] }}</td>
            <td style="padding:0 15px 0 15px;">{{ ticket['ticket_type'] }}</td>
            <td style="padding:0 15px 0 15px;">{{ ticket['start_time'] }}</td>
            <td style="padding:0 15px 0 15px;">{{ ticket['end_time'] }}</td>
            <td style="padding:0 15px 0 15px;">{{ ticket['seats'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br><br>
    <h3>Your Review:</h3>
    <br>
    <table>
        <tr>
            <th style="padding:0 15px 0 15px;">Type</th>
            <th style="padding:0 15px 0 15px;">review</th>
        </tr>
        {% for review in reviews %}
        <tr>
            <td style="padding:0 15px 0 15px;">{{ review['review_type'] }}</td>
            <td style="padding:0 15px 0 15px;">{{ review['message'] }}</td>
        </tr>
        {% endfor %}
    </table>

    {% endblock %}